/* uw-thinstrip */
.uw-thinstrip {
  .uw-wordmark {
    background: url(assets/png/DeWorm3_logo_white.png) no-repeat 0 0 transparent;
    background-size: contain;
    top: 0;
    left: 0;
    height: 45px;
    width: 300px;
  }
  // breakpoint switch
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .uw-wordmark {
      background: url(assets/png/DeWorm3_logo_white.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 360px;
      height: 60px;
      top: -10px;
    }
  }
  // breakpoint switch
  @media only screen and (min-width: 992px) {
    .uw-wordmark {
      background: url(assets/png/DeWorm3_logo_white.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 360px;
      top: -10px;
      height: 60px;
      left: 0;
      transform: none;
    }
  }
}
/* END uw-thinstrip */

/* uw-footer */
.uw-footer {
  background: url(assets/footer/footer.jpg) center bottom;
  background-color: @darkgray;
  background-repeat: no-repeat;
  background-size: cover;
  .footer-wordmark,
  .footer-wordmark:focus,
  .footer-wordmark:hover  {
    background: url(assets/png/DeWorm3_logo_white.png) no-repeat 0px 0px transparent;
    height: 120px;
    width: 320px;
    background-size: contain;
  }
  h4 {
    &::before,
    &::after {
      background-color: @white;
    }
  }
}
/* END uw-footer */
