/* template-video-hero */
.page-template-template-video-hero {

  // mobile-menu wrapper for uw-hero-slideshow template pages
  .mobile-menu-wrapper {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .mobile-menu-wrapper {
      display: block;
      margin: 65px 20px -10px 20px;
      #mobile-relative {
        margin-top: 0;
        ul.uw-mobile-menu {
          margin-bottom: 0px;
        }
      }
    }
  }

  .uw-hero-image.hero-height {
    height: 480px;
    @media only screen and (min-width: 992px) {
      height: 640px;
    }
    @media only screen and (max-width: 767px) {
      padding: 0;
      margin-bottom: 0;
    }
    .uw-hero-video {
      @media only screen and (max-width: 767px) {
        height: 480px;
      }
      video {
        object-fit: cover;
        height: 480px;
        width: 100%;
        @media only screen and (min-width: 992px) {
          height: 640px;
        }
      }
    }
    .video-byline {
      color: @white;
      font-family: @EncodeSansCompressed;
      font-size: 21px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      margin-bottom: 1em;
      @media only screen and (max-width: 359px) {
       line-height: 1.2;
      }
      @media only screen and (min-width: 360px)  and (max-width: 479px) {
       line-height: 1.4;
      }
    }
    #hero-bg {
     @media only screen and (max-width: 767px) {
       top: -460px;
       padding: 0 10px;
     }
     @media only screen and (min-width: 768px)  and (max-width: 991px) {
       top: -530px;
       padding: 0;
     }
     @media only screen and (min-width: 992px) {
       top: -650px;
     }
   }
   #hero-container {
     h1 {
       @media only screen and (max-width: 767px) {
         font-size: 45px;
       }
       @media only screen and (min-width: 768px)  and (max-width: 991px) {
         font-size: 60px;
       }
       &:after {
         height: 480px;
         @media only screen and (max-width: 767px) {
           height: 670px;
         }
         @media only screen and (min-width: 768px)  and (max-width: 991px) {
           height: 520px;
         }
         @media only screen and (min-width: 992px) {
           height: 640px;
         }
       }
     }
   }
  }

  .uw-content[role=main] {
    @media only screen and (max-width: 767px) {
      padding-top: 15px;
    }
  }

}
/* END template-video-hero */
