/* uw-thinstrip */
.uw-thinstrip {
  .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-Stack-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    top: 6px;
  }
  // breakpoint switch
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .uw-wordmark {
      background: url(assets/png/DeptGlobalHealth_DeptSigs-Left-White.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 335px;
      top: 9px;
    }
  }
  // breakpoint switch
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .uw-wordmark {
      background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 360px;
      height: 60px;
      top: 8px;
    }
  }
  // breakpoint switch
  @media only screen and (min-width: 992px) and (max-width: 1439px) {
    .uw-wordmark {
      background: url(assets/png/DeptGlobalHealth_DeptSigs-UWStack-White.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 390px;
      top: -10px;
      height: 70px;
      left: 150px;
      transform: none;
    }
  }
  // breakpoint switch
  // @media only screen and (min-width: 1200px) and (max-width: 1439px) {
  // }
  // breakpoint switch
  @media only screen and (min-width: 1440px) {
    .uw-wordmark {
      background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 450px;
      top: -2px;
      height: 70px;
    }
  }
}
/* END uw-thinstrip */

/* dawgdrops class modifier */
.dawgdrops-item--gold {
  a {
    color: @darkgold;
    &:hover,
    &:focus {
      color: @purple !important;
    }
  }
}
/* END dawgdrops */

/* uw-footer */
.uw-footer {
  .footer-wordmark,
  .footer-wordmark:focus,
  .footer-wordmark:hover  {
    background: url(assets/footer/UW-DGH-logo-reversed-centered.png) no-repeat 0px 0px transparent;
    height: 100px;
    background-size: 335px;
  }
}
/* END uw-footer */
